# MongoDB

Based on https://docs.mongodb.com/getting-started

MongoDB is a **NoSQL** open-source **document database**.  MongoDB provides horizontal scaling by replicating and partitioning the data over multiple nodes. This can improve the reliability and scalability of the system.

A record in MongoDB is a **document**, which is a data structure composed of field and value pairs. MongoDB documents are similar to JSON objects or Python dictionaries. The values of fields may include other documents, arrays, and arrays of documents.

This is an example of a document:
```JSON
{
   "_id" : ObjectId("54c955492b7c8eb21818bd09"),
   "address" : {
      "street" : "2 Avenue",
      "zipcode" : "10075",
      "building" : "1480",
      "coord" : [ -73.9557413, 40.7720266 ]
   },
   "borough" : "Manhattan",
   "cuisine" : "Italian",
   "grades" : [
      {
         "date" : ISODate("2014-10-01T00:00:00Z"),
         "grade" : "A",
         "score" : 11
      },
      {
         "date" : ISODate("2014-01-16T00:00:00Z"),
         "grade" : "B",
         "score" : 17
      }
   ],
   "name" : "Vella",
   "restaurant_id" : "41704620"
}
```
In MongoDB, documents have a unique **_id** field that acts as a primary key. MongoDB automatically adds a unique _id to each document if you are not providing it by yourself.

MongoDB stores documents in **collections**. Collections are analogous to tables in relational databases. Unlike a table, however, a collection does not require its documents to have the same schema.

You can start a Docker image with MongoDB like this:
```bash
docker run -p 27017:27017 -d mongo:4.0-xenial
```

In production you really (!) would need to enable authentication with username and password, but for development purposes this is fine.

In [1]:
# Install the pymongo Python Package 
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\analu\anaconda3\lib\site-packages (3.9.0)

In [2]:
from pymongo import MongoClient
from pprint import pprint
import requests 
import json

Use MongoClient to create a connection. If you do not specify any arguments to MongoClient, then MongoClient defaults to the MongoDB instance that runs on the localhost interface on port 27017. You can also specify a complete MongoDB URI to define the connection, including explicitly specifying the host and port number. For example, the following creates a connection to a MongoDB instance that runs on mongodb0.example.net and the port of 27017: client = MongoClient("mongodb://mongodb0.example.net:27017")

In [5]:
# Client connects to "localhost" by default 
client = MongoClient("mongodb://localhost:27017/?readPreference=primary&appname=MongoDB%20Compass%20Community&ssl=false")

The first fundamental class of objects you will interact with using pymongo is Database which represents the database construct in MongoDB. Databases hold groups of logically related collections. MongoDB creates new databases implicitly upon their first use. Connect (create) with a database of your name, e.g. 

```python
db = client["rolandmueller"]
``` 
or 

```python
db = client.rolandmueller
```

In [7]:
# Create local "bipm" database on the fly 
db = client['bipm']

In [8]:
# When we rerun the whole notebook, we start from scratch 
# by dropping the colection "courses"

db.courses.drop()

In [9]:
# Create a Python Dictonary
courses = [
    {'title': 'Data Science',
     'lecturer': {
         'name': 'Markus Löcher',
         'department': 'Math',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Data Warehousing',
     'lecturer': {
         'name': 'Roland M. Mueller',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Business Process Management',
     'lecturer': {
         'name': 'Frank Habermann',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Stratigic Issues of IT',
     'lecturer': {
         'name': 'Sven Pohland',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Text, Web and Social Media Analytics Lab',
     'lecturer': {
         'name': 'Markus Löcher',
         'department': 'Math',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'Enterprise Architectures for Big Data',
     'lecturer': {
         'name': 'Roland M. Mueller',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'Business Process Integration Lab',
     'lecturer': {
         'name': 'Frank Habermann',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'IT-Security and Privacy',
     'lecturer': {
         'name': 'Dennis Uckel',
         'department': 'Information Systems',
         'status': 'External'
     },
     'semester': 2},
    {'title': 'Research Methods',
     'lecturer': {
         'name': 'Marcus Birkenkrahe',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
]

In [10]:
pprint(courses)

[{'lecturer': {'department': 'Math',
               'name': 'Markus Löcher',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Data Science'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Roland M. Mueller',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Data Warehousing'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Frank Habermann',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Business Process Management'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Sven Pohland',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Stratigic Issues of IT'},
 {'lecturer': {'department': 'Math',
               'name': 'Markus Löcher',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Text, Web and Social Media Analytics Lab'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Roland M. Mueller',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Enterprise Architectures for Big Data'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Frank Habermann',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Business Process Integration Lab'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Dennis Uckel',
               'status': 'External'},
  'semester': 2,
  'title': 'IT-Security and Privacy'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Marcus Birkenkrahe',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Research Methods'}]

## insert_many()

You can use the `insert_one()` method and the `insert_many()` method to add documents to a collection in MongoDB. If you attempt to add documents to a collection that does not exist, MongoDB will create the collection for you.

In [11]:
db.courses.insert_many(courses)

## find()

You can use the find() method to issue a query to retrieve data from a collection in MongoDB. All queries in MongoDB have the scope of a single collection.
Queries can return all documents in a collection or only the documents that match a specified filter or criteria. You can specify the filter or criteria in a document and pass as a parameter to the find() method. With no parameter, find() returns all documents in the collection.

The find() method returns query results in a cursor, which is an iterable object that yields documents. Then you can print all documents.

```python
cursor = db.my_collection.find()

for document in cursor:
    pprint(document)
```

In [12]:
# Print all courses
cursor = db.courses.find()
for doc in cursor:
    pprint(doc)

{'_id': ObjectId('5ed415511cb73208a7c6b369'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Science'}
{'_id': ObjectId('5ed415511cb73208a7c6b36a'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Roland M. Mueller',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Warehousing'}
{'_id': ObjectId('5ed415511cb73208a7c6b36b'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Frank Habermann',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Business Process Management'}
{'_id': ObjectId('5ed415511cb73208a7c6b36c'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Sven Pohland',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Stratigic Issues of IT'}
{'_id': ObjectId('5ed415511cb73208a7c6b36d'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Text, Web and Social Media Analytics Lab'}
{'_id': ObjectId('5ed415511cb73208a7c6b36e'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Roland M. Mueller',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Enterprise Architectures for Big Data'}
{'_id': ObjectId('5ed415511cb73208a7c6b36f'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Frank Habermann',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Business Process Integration Lab'}
{'_id': ObjectId('5ed415511cb73208a7c6b370'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Dennis Uckel',
              'status': 'External'},
 'semester': 2,
 'title': 'IT-Security and Privacy'}
{'_id': ObjectId('5ed415511cb73208a7c6b371'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Marcus Birkenkrahe',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Research Methods'}

## JSON

You can store a JSON document if you convert it before to a Python dictionary:

In [14]:
my_json = '{"title": "Master Thesis", "semester": 3}'
another_course = json.loads(my_json)
another_course

{'title': 'Master Thesis', 'semester': 3}

## insert_one()

The `insert_one()` method adds the document into the collection.

In [16]:
# Store `another_course` as another course:
db.courses.insert_one(another_course)

In [17]:
# Print all courses
cursor = db.courses.find()
for doc in cursor:
    pprint(doc)

{'_id': ObjectId('5ed415511cb73208a7c6b369'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Science'}
{'_id': ObjectId('5ed415511cb73208a7c6b36a'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Roland M. Mueller',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Warehousing'}
{'_id': ObjectId('5ed415511cb73208a7c6b36b'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Frank Habermann',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Business Process Management'}
{'_id': ObjectId('5ed415511cb73208a7c6b36c'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Sven Pohland',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Stratigic Issues of IT'}
{'_id': ObjectId('5ed415511cb73208a7c6b36d'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Text, Web and Social Media Analytics Lab'}
{'_id': ObjectId('5ed415511cb73208a7c6b36e'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Roland M. Mueller',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Enterprise Architectures for Big Data'}
{'_id': ObjectId('5ed415511cb73208a7c6b36f'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Frank Habermann',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Business Process Integration Lab'}
{'_id': ObjectId('5ed415511cb73208a7c6b370'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Dennis Uckel',
              'status': 'External'},
 'semester': 2,
 'title': 'IT-Security and Privacy'}
{'_id': ObjectId('5ed415511cb73208a7c6b371'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Marcus Birkenkrahe',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Research Methods'}
{'_id': ObjectId('5ed417b91cb73208a7c6b372'),
 'semester': 3,
 'title': 'Master Thesis'}

## find_one() and find()

`find_one()` returns the first match. ```find()```returns all matches.

The query condition for `find_one()` and `find()` for an equality match on fields has the following form:
```python
{ <field1>: <value1>, <field2>: <value2>, ... } 
```

The following operation finds the first documents whose name field equals "Manhattan".

```python
cursor = db.restaurants.find_one({"name": "Manhattan"})
```

In [18]:
# Find the course with the title "Data Science" 
# save the result in a varibale result
result = db.courses.find_one({"title":"Data Science"})

# and pprint the result.
pprint(result)

{'_id': ObjectId('5ed415511cb73208a7c6b369'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Science'}

In [19]:
print(result["_id"])
print(result["lecturer"]["name"])

5ed415511cb73208a7c6b369
Markus Löcher

In [21]:
# Find the first course (one course) in the second semester
# and print it
pprint(db.courses.find_one({'semester':2}))

{'_id': ObjectId('5ed415511cb73208a7c6b36d'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Text, Web and Social Media Analytics Lab'}

In [22]:
# Find all courses in the second semester
second_semester = db.courses.find({'semester':2})

# and print the course titles
for doc in second_semester:
    print(doc['title'])

Text, Web and Social Media Analytics Lab
Enterprise Architectures for Big Data
Business Process Integration Lab
IT-Security and Privacy
Research Methods

In [31]:
# Find all courses in the second semester
second_semester = db.courses.find({'semester':2})

# and print the lecturers names
for doc in second_semester:
    print(doc['lecturer']['name'])

Markus Löcher
Roland M. Mueller
Frank Habermann
Dennis Uckel
Marcus Birkenkrahe

## Subelements

Sometimes documents contains embedded documents as its elements. To specify a condition on a field in these documents, use the dot notation. Dot notation requires quotes around the whole dotted field name. The following queries for documents whose grades array contains an embedded document with a field grade equal to "B".

```python
cursor = db.restaurants.find({"grades.grade": "B"})
```

In [33]:
# Find all courses of Frank Habermann
frank = db.courses.find({'lecturer.name':'Frank Habermann'})

# and print the title and the semester
for doc in frank:
    print("Title: {0}".format(doc['title']))
    print("Semester: {0}\n".format(doc['semester']))

Title: Business Process Management
Semester: 1

Title: Business Process Integration Lab
Semester: 2

## Logical AND

You can specify a logical conjunction (AND) for a list of query conditions by separating the conditions with a comma in the conditions document.

```python
cursor = db.restaurants.find({"cuisine": "Italian", "address.zipcode": "10075"})
```

In [34]:
# Find all courses from Frank Habermann in the second semester
frank_2nd = db.courses.find({'lecturer.name':'Frank Habermann','semester':2 })

# and print the title and the semester
for doc in frank_2nd:
    print("Title: {0}".format(doc['title']))
    print("Semester: {0}\n".format(doc['semester']))

Title: Business Process Integration Lab
Semester: 2

## Logical OR

You can specify a logical disjunction (OR) for a list of query conditions by using the $or query operator.

```python
cursor = db.restaurants.find({"$or": [{"cuisine": "Italian"}, {"address.zipcode": "10075"}]})
```

In [36]:
# Find all courses from Frank Habermann or Markus Löcher
profs = db.courses.find({'$or':[{'lecturer.name':'Frank Habermann'},{'lecturer.name':'Markus Löcher'}]})

# and print the title and the semester
for doc in profs:
    print("Title: {0}".format(doc['title']))
    print("Semester: {0}\n".format(doc['semester']))

Title: Data Science
Semester: 1

Title: Business Process Management
Semester: 1

Title: Text, Web and Social Media Analytics Lab
Semester: 2

Title: Business Process Integration Lab
Semester: 2

## Greater than, Less than

MongoDB provides operators to specify query conditions, such as comparison operators. Query conditions using operators generally have the following form:
```python
{ <field1>: { <operator1>: <value1> } }
```

Greater Than Operator (`$gt`). Query for documents whose grades array contains an embedded document with a field score greater than 30.

```python
cursor = db.restaurants.find({"grades.score": {"$gt": 30}})
```

Less Than Operator (`$lt`). Query for documents whose grades array contains an embedded document with a field score less than 10.

```python
cursor = db.restaurants.find({"grades.score": {"$lt": 10}})
```

In [37]:
# Find all courses in semester greater than 1
semesters = db.courses.find({'semester':{'$gt': 1}})

# and print the title and the semester
for doc in semesters:
    print("Title: {0}".format(doc['title']))
    print("Semester: {0}\n".format(doc['semester']))

Title: Text, Web and Social Media Analytics Lab
Semester: 2

Title: Enterprise Architectures for Big Data
Semester: 2

Title: Business Process Integration Lab
Semester: 2

Title: IT-Security and Privacy
Semester: 2

Title: Research Methods
Semester: 2

Title: Master Thesis
Semester: 3

## Counting

`count_documents()` works like `find()` but returns the number of matched documents-

In [41]:
# How many courses are in the second semester?
print(db.courses.count_documents({'semester':2}))

5

# Downloading Nobel Prize Winners with an API and storing them in MongoDB

![](https://upload.wikimedia.org/wikipedia/en/e/ed/Nobel_Prize.png)
The Nobel Prize offers a Web API https://nobelprize.readme.io/docs/prize

Because the API is giving us JSON and MongoDB is able to store documents in a JSON-like format, using a document database like MongoDB seems like a good fit to store the results of the API.  You can get all laureates at http://api.nobelprize.org/v1/laureate.json and all prizes at http://api.nobelprize.org/v1/prize.json

We will just download all laureates and prizes and store them in MongoDB!

In [42]:
# Create local "nobel" database on the fly 
db = client["nobel"]
db.prizes.drop()
db.laureates.drop()
# API documented at https://nobelprize.readme.io/docs/prize 
for collection_name in ["prizes", "laureates"]:
    singular = collection_name[:-1] # the API uses singular
    response = requests.get( "http://api.nobelprize.org/v1/{}.json".format(singular)) 
    documents = response.json()[collection_name] 
    # Create collections on the fly 
    db[collection_name].insert_many(documents)

In [43]:
pprint(db.laureates.find_one())

{'_id': ObjectId('5ed420411cb73208a7c6b5f9'),
 'born': '1845-03-27',
 'bornCity': 'Lennep (now Remscheid)',
 'bornCountry': 'Prussia (now Germany)',
 'bornCountryCode': 'DE',
 'died': '1923-02-10',
 'diedCity': 'Munich',
 'diedCountry': 'Germany',
 'diedCountryCode': 'DE',
 'firstname': 'Wilhelm Conrad',
 'gender': 'male',
 'id': '1',
 'prizes': [{'affiliations': [{'city': 'Munich',
                               'country': 'Germany',
                               'name': 'Munich University'}],
             'category': 'physics',
             'motivation': '"in recognition of the extraordinary services he '
                           'has rendered by the discovery of the remarkable '
                           'rays subsequently named after him"',
             'share': '1',
             'year': '1901'}],
 'surname': 'Röntgen'}

In [45]:
# Print the first name of the first document
print(db.laureates.find_one({'id':'1'})['firstname'])

Wilhelm Conrad

With `count_documents` you can count the number of matching documents.

In [46]:
# How many female laureates exists? 
db.laureates.count_documents({'gender':'female'})

53

With the `$regex` function you can use a regular expression. `distinct` list only all distinct entries.

In [48]:
db.laureates.distinct("bornCountry", {"bornCountry": {"$regex": "Germany"}})

['Prussia (now Germany)',
 'Hesse-Kassel (now Germany)',
 'Germany',
 'Schleswig (now Germany)',
 'Germany (now Poland)',
 'Germany (now France)',
 'West Germany (now Germany)',
 'Bavaria (now Germany)',
 'Germany (now Russia)',
 'Mecklenburg (now Germany)',
 'W&uuml;rttemberg (now Germany)',
 'East Friesland (now Germany)']

In [54]:
# How many laureates are from Germany?
db.laureates.count_documents({'$or':[{"bornCountry": 'Germany'},                   # exactly Germany
                                     {"bornCountry": {"$regex": "now Germany"}}]}) # something that is now Germany

82

In [66]:
# Find all physics nobel laureates that are from Germany
physics_de = db.laureates.find({'prizes.category':'physics','$or':[{"bornCountry": 'Germany'},
                                                                   {"bornCountry": {"$regex": "now Germany"}}]})

# print the year of the first prize, the first name, and surname
for doc in physics_de:
    print("Year of 1st prize: {0}". format(doc['prizes'][0]['year']))
    print("First name: {0}". format(doc['firstname']))
    print("Surname: {0}\n". format(doc['surname']))

Year of 1st prize: 1901
First name: Wilhelm Conrad
Surname: Röntgen

Year of 1st prize: 1909
First name: Ferdinand
Surname: Braun

Year of 1st prize: 1914
First name: Max
Surname: von Laue

Year of 1st prize: 1918
First name: Max
Surname: Planck

Year of 1st prize: 1919
First name: Johannes
Surname: Stark

Year of 1st prize: 1921
First name: Albert
Surname: Einstein

Year of 1st prize: 1925
First name: James
Surname: Franck

Year of 1st prize: 1925
First name: Gustav
Surname: Hertz

Year of 1st prize: 1932
First name: Werner
Surname: Heisenberg

Year of 1st prize: 1954
First name: Walther
Surname: Bothe

Year of 1st prize: 1955
First name: Polykarp
Surname: Kusch

Year of 1st prize: 1961
First name: Rudolf
Surname: Mössbauer

Year of 1st prize: 1963
First name: J. Hans D.
Surname: Jensen

Year of 1st prize: 1978
First name: Arno
Surname: Penzias

Year of 1st prize: 1986
First name: Ernst
Surname: Ruska

Year of 1st prize: 1986
First name: Gerd
Surname: Binnig

Year of 1st prize: 1987
First name: J. Georg
Surname: Bednorz

Year of 1st prize: 1988
First name: Jack
Surname: Steinberger

Year of 1st prize: 1989
First name: Hans G.
Surname: Dehmelt

Year of 1st prize: 1989
First name: Wolfgang
Surname: Paul

Year of 1st prize: 1998
First name: Horst L.
Surname: Störmer

Year of 1st prize: 2000
First name: Herbert
Surname: Kroemer

Year of 1st prize: 2001
First name: Wolfgang
Surname: Ketterle

Year of 1st prize: 2005
First name: Theodor W.
Surname: Hänsch

Year of 1st prize: 2017
First name: Rainer
Surname: Weiss

In [67]:
# find and print the document for "Malala" (firstname)
pprint(db.laureates.find_one({'firstname':'Malala'}))

{'_id': ObjectId('5ed420411cb73208a7c6b969'),
 'born': '1997-07-12',
 'bornCity': 'Mingora',
 'bornCountry': 'Pakistan',
 'bornCountryCode': 'PK',
 'died': '0000-00-00',
 'firstname': 'Malala',
 'gender': 'female',
 'id': '914',
 'prizes': [{'affiliations': [[]],
             'category': 'peace',
             'motivation': '"for their struggle against the suppression of '
                           'children and young people and for the right of all '
                           'children to education"',
             'share': '2',
             'year': '2014'}],
 'surname': 'Yousafzai'}

## Sort()

With `sort()` you can sort the list of documents. The parameter of sort is a list of sorting tuples. Each tuple is a value and an integer value 1 or -1 which states whether the collection to be sorted in ascending (1) or descending (-1) order.

Sort all restaurants according to the grade in ascending order.
```python
cursor = db.restaurants.find().sort([("grades.grade", 1)])
```

In [71]:
# Find only female nobel laureates 
# and sort them according the the prize year in ascending order
females = db.laureates.find({'gender':'female'}).sort([('prizes.year',1)])

# print year of the first prize, firstname, and surname
for doc in females:
    print("Year of 1st prize: {0}". format(doc['prizes'][0]['year']))
    print("First name: {0}". format(doc['firstname']))
    try:
        print("Surname: {0}\n". format(doc['surname']))
    except:
        print('No surname \n')

Year of 1st prize: 1903
First name: Marie
Surname: Curie

Year of 1st prize: 1905
First name: Bertha
Surname: von Suttner

Year of 1st prize: 1909
First name: Selma
Surname: Lagerlöf

Year of 1st prize: 1926
First name: Grazia
Surname: Deledda

Year of 1st prize: 1928
First name: Sigrid
Surname: Undset

Year of 1st prize: 1931
First name: Jane
Surname: Addams

Year of 1st prize: 1935
First name: Irène
Surname: Joliot-Curie

Year of 1st prize: 1938
First name: Pearl
Surname: Buck

Year of 1st prize: 1945
First name: Gabriela
Surname: Mistral

Year of 1st prize: 1946
First name: Emily Greene
Surname: Balch

Year of 1st prize: 1947
First name: Gerty
Surname: Cori

Year of 1st prize: 1963
First name: Maria
Surname: Goeppert Mayer

Year of 1st prize: 1964
First name: Dorothy Crowfoot
Surname: Hodgkin

Year of 1st prize: 1966
First name: Nelly
Surname: Sachs

Year of 1st prize: 1976
First name: Betty
Surname: Williams

Year of 1st prize: 1976
First name: Mairead
Surname: Corrigan

Year of 1st prize: 1977
First name: Rosalyn
Surname: Yalow

Year of 1st prize: 1979
First name: Anjezë Gonxhe
Surname: Bojaxhiu

Year of 1st prize: 1982
First name: Alva
Surname: Myrdal

Year of 1st prize: 1983
First name: Barbara
Surname: McClintock

Year of 1st prize: 1986
First name: Rita
Surname: Levi-Montalcini

Year of 1st prize: 1988
First name: Gertrude B.
Surname: Elion

Year of 1st prize: 1991
First name: Aung San Suu Kyi
No surname

Year of 1st prize: 1991
First name: Nadine
Surname: Gordimer

Year of 1st prize: 1992
First name: Rigoberta
Surname: Menchú Tum

Year of 1st prize: 1993
First name: Toni
Surname: Morrison

Year of 1st prize: 1995
First name: Christiane
Surname: Nüsslein-Volhard

Year of 1st prize: 1996
First name: Wislawa
Surname: Szymborska

Year of 1st prize: 1997
First name: Jody
Surname: Williams

Year of 1st prize: 2003
First name: Shirin
Surname: Ebadi

Year of 1st prize: 2004
First name: Linda B.
Surname: Buck

Year of 1st prize: 2004
First name: Elfriede
Surname: Jelinek

Year of 1st prize: 2004
First name: Wangari
Surname: Maathai

Year of 1st prize: 2007
First name: Doris
Surname: Lessing

Year of 1st prize: 2008
First name: Françoise
Surname: Barré-Sinoussi

Year of 1st prize: 2009
First name: Elizabeth H.
Surname: Blackburn

Year of 1st prize: 2009
First name: Carol W.
Surname: Greider

Year of 1st prize: 2009
First name: Ada E.
Surname: Yonath

Year of 1st prize: 2009
First name: Herta
Surname: Müller

Year of 1st prize: 2009
First name: Elinor
Surname: Ostrom

Year of 1st prize: 2011
First name: Ellen
Surname: Johnson Sirleaf

Year of 1st prize: 2011
First name: Leymah
Surname: Gbowee

Year of 1st prize: 2011
First name: Tawakkol
Surname: Karman

Year of 1st prize: 2013
First name: Alice
Surname: Munro

Year of 1st prize: 2014
First name: May-Britt
Surname: Moser

Year of 1st prize: 2014
First name: Malala
Surname: Yousafzai

Year of 1st prize: 2015
First name: Youyou
Surname: Tu

Year of 1st prize: 2015
First name: Svetlana
Surname: Alexievich

Year of 1st prize: 2018
First name: Donna
Surname: Strickland

Year of 1st prize: 2018
First name: Frances H.
Surname: Arnold

Year of 1st prize: 2018
First name: Nadia
Surname: Murad

Year of 1st prize: 2018
First name: Olga
Surname: Tokarczuk

Year of 1st prize: 2019
First name: Esther
Surname: Duflo